/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.para-font {
  color: gray;
}
.main-flex {
  display: flex;
  flex-direction: column;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200%;
  margin: 5% 10%;
}
header h1 {
  font-size: 3.2rem;
}
header h3 {
  font-size: 2.2rem;
}
header div p {
  font-size: 2rem;
}
header nav {
  margin: 4% 35%;
}
header nav a {
  justify-content: space-between;
  margin: 4%;
  font-size: 2.2rem;
  text-decoration: none;
  flex-direction: row;
  color: black;
}
.top-content {
  display: flex;
  margin-left: 15%;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
}
.top-content .name-city {
  padding: 3%;
  width: 60%;
  background-color: lightgrey;
  border-radius: 5%;
}
.top-content .name-city p {
  padding-top: 25%;
  font-size: 2.2rem;
}
.top-content img {
  width: 55%;
  border-radius: 5%;
}
.top-content button {
  font-size: 1.8rem;
  font-family: 'Barlow Condensed', sans-serif;
  border: 1px solid;
  border-radius: 5px;
}
.about {
  display: flex;
  flex-direction: column;
  margin: 5% 15%;
  width: 70%;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 3%;
}
.about h2 {
  font-size: 3rem;
  padding-bottom: 2%;
  width: 14%;
  margin-left: 43%;
}
.about p {
  font-size: 2rem;
  color: gray;
}
.skills-box {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 3%;
  width: 70%;
  margin-left: 15%;
}
.skills-box h2 {
  font-size: 2rem;
}
.skills-box p {
  padding: 1%;
  font-size: 2rem;
  color: gray;
}
table {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 27%;
}
table tr,
table th {
  border: 1px solid black;
  font-size: 2.2rem;
  text-align: left;
  padding: 2%;
}
table td {
  padding: 2%;
  color: gray;
}
table th {
  justify-content: space-evenly;
  background-color: lightgrey;
  text-align: center;
}
.skills-box {
  font-size: 2rem;
  margin-bottom: 4%;
}
.skills-box h2 {
  font-size: 3rem;
  padding-bottom: 1%;
}
.work-table h2 {
  font-size: 2.8rem;
  margin-left: 45%;
  margin-bottom: 2%;
}
footer {
  font-size: 2.8rem;
  margin-left: 41%;
  padding-top: 10%;
}
footer i {
  padding-left: 5%;
  text-decoration: none;
  color: black;
}
