// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Barlow Condensed', sans-serif;
}

html {
	font-size: 62.5%;

}

.container {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	margin: 5% 10%
}

header {

	h1 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.2rem;
	}

	div p {
		font-size: 2rem;
	}

	nav {
	margin: 4% 35%
	
	}

	nav a {
		justify-content: space-between;
		margin: 4%;
		font-size: 2rem;
		text-decoration: none;
		flex-direction: row;
		color: black;

	}
}

.top-content {
	display: flex;
	margin-left: 15%;
	width: 70%;
	border: 2px solid black;
	padding: 5%;
	background-color: #8C829C;

img {
	width: 18%;
}


 	.name-city {
		width: 20%;
		padding-top: 13%;
 	}


	.name-city, img {
		width: 50%;
	}
}

.about {

	margin-left: 3%;

	h2 {
		font-size: 2.8rem;
	}

	p {
		font-size: 1.8rem;
	}
}

table {

	justify-content: center;


	tr, th {
		border: 1px solid black;
		font-size: 1.8rem;
		text-align: left;
		padding: 2%
	}

	td {
		padding: 2%;

	}
}

.skills-box {
	font-size: 1.8rem;
}