// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.para-font {
	color: gray;
}

.main-flex {
	display: flex;
	flex-direction: column;
}

@primary-color: lightgrey;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Barlow Condensed', sans-serif;
}

html {
	font-size: 62.5%;
	
}


.container {
	.main-flex();
	width: 80%;
	height: 200%;
	margin: 5% 10%
}

header {

	h1 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 2.2rem;
	}

	div p {
		font-size: 2rem;
	}

	nav {
	margin: 4% 35%
	}

	nav a {
		justify-content: space-between;
		margin: 4%;
		font-size: 2.2rem;
		text-decoration: none;
		flex-direction: row;
		color: black;
	
	}
}

.top-content {
	display: flex;
	margin-left: 15%;
	width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	padding: 3%;


 	.name-city {
		padding: 3%;
		width: 60%;
		background-color: @primary-color;
		border-radius: 5%;
	
	 }
	 
	 .name-city p {
		 padding-top: 25%;
		 font-size: 2.2rem;
		 
	 }

	img {
		width: 55%;
		border-radius: 5%;

		
	}

	button {
	
		font-size: 1.8rem;
		font-family: 'Barlow Condensed', sans-serif;
		border: 1px solid;
		border-radius: 5px;
	}

}


.about {

	.main-flex();
	margin: 5% 15%;
	width: 70%;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 3%;

	h2 {
		font-size: 3rem;
		padding-bottom: 2%;
		width: 14%;
		margin-left: 43%;

	}

	p {
		font-size: 2rem;
		.para-font();
	}
}

.skills-box {

	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 3%;
	width: 70%;
	margin-left: 15%;

	h2 {
		font-size: 2rem;
	}

	p {
		padding: 1%;
		font-size: 2rem;
		.para-font();
	}
}

table {
	.main-flex();
	width: 70%;
	margin-left:27%;

	tr, th {
		border: 1px solid black;
		font-size: 2.2rem;
		text-align: left;
		padding: 2%;
	}

	td {
		padding: 2%;
		.para-font();

	}

	th {
		justify-content: space-evenly;
		background-color: @primary-color;
		text-align: center;
	}
}

.skills-box {
	font-size: 2rem;
	margin-bottom: 4%;

	h2 {
		font-size: 3rem;
		padding-bottom: 1%;
}
}
.work-table {
	
	h2 {
		font-size: 2.8rem;
		margin-left:45%;
		margin-bottom: 2%;
	}
}

footer {
	font-size: 2.8rem;
	margin-left: 41%;
	padding-top: 10%;

	i {
		padding-left: 5%;
		text-decoration: none;
		color: black;
	}
}
